<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Check answers</title>
 </head>
 <body>
  {% if participant_name != participant_name_check %}
   <p>{{participant_name}} checking the answers of {{participant_name_check}}</p>
   <p>Mark the answers below as correct or wrong</p>
  {% else %}
   <p>{{participant_name}}'s answers</p>
  {% endif %}
  <form action="{{next_url}}" method="post">
   <div style="display:table; border-spacing:5px;">
   {% for i in range(1, (nbr_of_questions|int)+1) %}
    {% if i <= (page_nbr|int)*10 and i > ((page_nbr|int)-1)*10 %}
     <div style="display:table-row;">
      <div style="display:table-cell;"> {{ check_counts[i|string()] }} &nbsp; </div>
      {% if checks[i|string()] == "correct" %}
      <div style="display:table-cell; text-align:left; background-color:lightgreen;">
       <label for="correct">+</label>
       <input type="radio" name="{{ i }}" value="correct" onchange="this.form.submit()" checked="checeked" /> 
      </div>
      {% else %}
      <div style="display:table-cell; text-align:left; background-color:white;">
       <label for="correct">+</label>
       <input type="radio" name="{{ i }}" value="correct" onchange="this.form.submit()" /> 
      </div>
      {% endif %}
      {% if checks[i|string()] == "wrong" %}
      <div style="display:table-cell; text-align:left; background-color:pink;">
       <input type="radio" name="{{ i }}" value="wrong" onchange="this.form.submit()" checked="checked" /> 
       <label for="wrong">-</label>
      </div>
      {% else %}
      <div style="display:table-cell; text-align:left; background-color:white;">
       <input type="radio" name="{{ i }}" value="wrong" onchange="this.form.submit()" /> 
       <label for="wrong">-</label>
      </div>
      {% endif %}
      <div style="display:table-cell; text-align:right;">{{ i }}.</div>
      <div style="display:table-cell; text-align:left;"> {{ answers[i|string()] }}</div>
     </div>
    {% endif %}
   {% endfor %}
   </div>
   <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
   <input type="hidden" name="participant_id" value="{{participant_id}}" />
   <input type="hidden" name="participant_id_check" value="{{participant_id_check}}" />
   <input type="hidden" name="page_nbr" value="{{page_nbr}}" />
  </form>
  <div>
   {% if page_nbr|int > 1 %}
    {% set prev_page_nbr = (page_nbr|int)-1 %}
   {% else %}
    {% set prev_page_nbr = (((nbr_of_questions|int)/10)|round(method="ceil"))|int %}
   {% endif %}
   <div style="float:left; margin:2px;">
    <form action="{{next_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="hidden" name="participant_id_check" value="{{participant_id_check}}" />
     <input type="hidden" name="page_nbr" value="{{prev_page_nbr}}" />
     <input type="submit" value="Previous" style="background-color:whitesmoke; border-color:whitesmoke; border-radius:5px; padding:4px;" />
    </form>
   </div>
   {% if page_nbr|int < (nbr_of_questions|int)/10 %}
    {% set next_page_nbr = (page_nbr|int)+1 %}
   {% else %}
    {% set next_page_nbr = 1 %}
   {% endif %}
   <div style="float:left; margin:2px;">
    <form action="{{next_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="hidden" name="participant_id_check" value="{{participant_id_check}}" />
     <input type="hidden" name="page_nbr" value="{{next_page_nbr}}" />
     <input type="submit" value="Next" style="background-color:whitesmoke; border-color:whitesmoke; border-radius:5px; padding:4px;" />
    </form>
   </div>
   <div style="float:left; margin:2px;">
    <form action="{{next_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="hidden" name="participant_id_check" value="{{participant_id_check}}" />
     <input type="hidden" name="page_nbr" value="{{page_nbr}}" />
     <input type="submit" value="Update" style="background-color:whitesmoke; border-color:whitesmoke; border-radius:5px; padding:4px;" />
    </form>
   </div>
   <div style="float:left; margin:2px;">
    <form action="{{download_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="submit" value="Download" style="background-color:white; border-color:white; border-radius:5px; padding:4px;" />
    </form>
   </div>
   <div style="float:left; margin:2px;">
    <form action="{{final_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="hidden" name="participant_id_check" value="{{participant_id_check}}" />
     <input type="submit" value="Stop checking" style="background-color:lightgreen; border-color:lightgreen; border-radius:5px; padding:4px;" />
    </form>
   </div>
   <div style="clear:both" />
  </div>
  <br/>
  <div style="border-spacing:2px; font-size:0.7em">
   {% include 'result_table.html' %}
  </div>
 </body>
</html>
