<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Enter answers</title>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript">
   function ajax_submit(quiz_id, participant_id, question_id, answer_string) {
    $.ajax({type: "POST",
            url: "/cgi-bin/online_quiz/ajax_submit_answer",
            data: { quiz_id: quiz_id, participant_id: participant_id, question_id: question_id, answer_string: answer_string }
           });
   };
  </script>
 </head>
 <body>
  <noscript><span style="color:red;">JAVASCRIPT NOT ENABLED. ANSWERS MAY NOT BE SAVED!!</span><hr></noscript>
  <p>Name: {{participant_name}}</p>
  <p>Enter your answers below</p>
  <form action="{{next_url}}" method="post">
   <div style="display:table; border-spacing:5px;">
   {% for i in range(1, (nbr_of_questions|int)+1) %}
    {% if i <= (page_nbr|int)*10 and i > ((page_nbr|int)-1)*10 %}
     <div style="display:table-row;">
      <div style="display:table-cell; text-align:right;">{{ question_numbers[i] }}.</div>
      <div style="display:table-cell; text-align:left;"><input type="text" size="30" name="{{ i }}" value="{{ answers[i|string()] }}" onchange="ajax_submit({{ quiz_id}}, {{ participant_id }}, {{ i }}, $(this).val())" /></div>
     </div>
    {% endif %}
   {% endfor %}
   </div>
   <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
   <input type="hidden" name="participant_id" value="{{participant_id}}" />
   <input type="hidden" name="page_nbr" value="{{page_nbr}}" />
  </form>
  <div>
   {% if page_nbr|int > 1 %}
    {% set prev_page_nbr = (page_nbr|int)-1 %}
   {% else %}
    {% set prev_page_nbr = (((nbr_of_questions|int)/10)|round(method="ceil"))|int %}
   {% endif %}
   <div style="float:left; margin:2px;">
    <form action="{{next_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="hidden" name="page_nbr" value="{{prev_page_nbr}}" />
     <input type="submit" value="Previous" style="background-color:whitesmoke; border-color:whitesmoke; border-radius:5px; padding:4px;" />
    </form>
   </div>
   {% if page_nbr|int < (nbr_of_questions|int)/10 %}
    {% set next_page_nbr = (page_nbr|int)+1 %}
   {% else %}
    {% set next_page_nbr = 1 %}
   {% endif %}
   <div style="float:left; margin:2px;">
    <form action="{{next_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="hidden" name="page_nbr" value="{{next_page_nbr}}" />
     <input type="submit" value="Next" style="background-color:whitesmoke; border-color:whitesmoke; border-radius:5px; padding:4px;" />
    </form>
   </div>
   {% if page_nbr|int >= (nbr_of_questions|int)/10 %}
   <div style="float:left; margin:2px;">
    <form action="{{final_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="submit" value="Finish answering" style="background-color:lightgreen; border-color:lightgreen; border-radius:5px; padding:4px;" />
    </form>
   </div>
   {% endif %}
  </div>
 </body>
</html>
