<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Online Quiz</title>
 </head>
 <body>
  <h1>Online Quiz</h1>
  <ul>
   <li> <a href="{{start_quiz_url}}">Start a new quiz</a></li>
   <li> <a href="{{participate_url}}">Participate in a running quiz</a></li>
   <li> <a href="{{instructions_quiz_master_url}}">Instructions for quiz masters</a></li>
   <li> <a href="{{instructions_participant_url}}">Instructions for participants</a></li>
   <li> <a href="https://github.com/eriktks/online_quiz">Code on Github</a></li>
  </ul>
 </body>
</html>
