<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Online Quiz: Instructions for participants</title>
 </head>
 <body style="background-color: lightgrey; margin-bottom: 5.0cm; ">
  <p><a href="{{base_url}}">Home</a></p>

  <h1>Online Quiz: instructions for participants</h1>
  <p>
   The Online Quiz software collects the quiz answers of quiz participants and enables them to be corrected collectively.
   These instructions for participants consist of five sections:
  </p>
  <ol>
   <li> <a href="#1">Entering a quiz</a>
   <li> <a href="#2">Answering questions</a>
   <li> <a href="#3">Checking answers</a>
   <li> <a href="#4">Verifying your score</a>
   <li> <a href="#5">Downloading quiz results</a>
  </ol>
  <p>
   There are also <a href="{{instructions_quiz_master_url}}">instructions for quiz masters</a>.
  </p>

  <h2><a name="1">1. Entering a quiz</a></h2>
  <p>
   Open the address received from the quiz master in a web browser. Next, enter your name on the web page. Then press the button "Participate".
  </p>
  <img src="/online_quiz/images/enter.png" width="249" height="155" alt="">
  <p>
   Next, you will see a list of the current participants in the quiz. Click on the button "Update" to update the list
  </p>
  <img src="/online_quiz/images/wait_participant.png" width="418" height="245" alt="">
  <p>
   Clicking on the green button "Enter answers" will have no effect before the quiz master has given the sign to start the quiz.

  <h2><a name="2">2. Answering questions</a></h2>
  <p>
   When the quiz master has signaled that you can start the quiz, click on the green "Enter answers" button shown above. This will take you to the answer page:
  </p>
  <img src="/online_quiz/images/answers.png" width="313" height="423" alt="">
  <p>
   The answer page contains ten fields for entering answers. Enter your answers to the quiz questions in the relevant fields. The answers will be stored automatically when you move to another answer field or click a button. You may change the answer as often as you want. The last given answer to a question counts. 
  </p>
  <p>
   You can access the next page with answer fields by clicking on the button "Next" at the bottom. The previous page with answer fields can be accessed by clicking on the button "Previous'. When you click on the button "Previous" on the first answer page, you will move to the last answer page. Clicking on the button "Next" at the final answer page will move you to the first answer page.
  </p>
  <img src="/online_quiz/images/finish_answering.png" width="307" height="160" alt="">
  <p>
   The final answer page contains a green button "Finish answering". Click on this button when you have entered all you answers. But before that make sure that you have entered all the answers in the way that you wanted. After you click the "Finish answering" button, you cannot change your answers anymore.
  </p>
  <img src="/online_quiz/images/examine_results.png" width="548" height="168" alt="">
  <p>
   After finishing answering, you get an overview of how many questions you answered and how much time you spend on answering the questions (Steve used 37 minutes and 15 seconds). You can also check the progress of the other participants in the quiz. Click on the "Update" button to update the page. Clicking on the green "Check other answers" will have no effect before the quiz master has signaled that the checking process has begun.
  </p>
  <h2><a name="3">3. Checking answers</a></h2>
  <p>
   When all participants have finished the quiz, the quiz master with open the checking process. Each participant will automatically be assigned to check the answers of another participant. When the quiz master gives the signal, click on the green "Check other answer" button shown above. You will be taken to the answer checking page:
  </p>
  <img src="/online_quiz/images/check_answers.png" width="366" height="460" alt="">
  <p>
   The quiz master will read aloud the correct answer to each question. For each correct given answer, click on the circle next to the plus sign. For each wrong given answer, click on the circle next to the minus sign. Colors will indicate which answers you evaluated as correct (green) and which as wrong (red). Make sure you also grade non-answers as wrong. The numbers completely to the left of each question show how many participants gave a correct answer to the question. At the bottom of the page you will find the intermediate standings of the quiz.
  </p>
  <p>
   The answer checking pages shows ten answers at a time. Navigation is the same as for the answer entering page: click on the "Next" button to more to the next checking page and click on the "Previous" button to move to the previous checking page. Each answer page contains a green "Stop checking" button which you can click when you are finished with checking the answers. It is possible to return to the checking process later to make updates.
  </p>
  <h2><a name="4">4. Verifying your score</a></h2>
  <p>
   When you have finished checking answers, you will be taken to a page with the result of the quiz. Click on the button "Check own answers" below the result table to verify that your answers were evaluated properly.
  </p>
  <img src="/online_quiz/images/examine_results_checked.png" width="657" height="166" alt="">
  <p>
   Verifying your own answers works just like checking the answers of another participant, only this time you cannot change the evaluations.
  </p>
  <img src="/online_quiz/images/check_own_answers.png" width="361" height="417" alt="">
  <p>
   When you find an answer that has been incorrectly evaluated, ask the checker or the quiz master to change the evaluation. You can find the name of the person that has checked your answers in the table at the bottom of the page in the right-most column "Checker".
  </p>
  <img src="/online_quiz/images/approved.png" width="656" height="167" alt="">
  <p>
   When you have verified that you answers were properly evaluated, click on the green "Stop checking" button. Next, on the results page, click on the "Approve own score" under the results table to change your status to "Approve" and to signal the quiz master that you have verified your score.
  </p>
  <h2><a name="5">5. Downloading quiz results</a></h2>
  <p>
   Clicking on the button "Download own" under the results table or "Download" on the check answers page provides you a text file with your answers and their evaluations, like in the example below:
  </p>
  <pre>
Test quiz (date: 20210319; 2 participants; 11 questions)

Name:  Steve
Rank:  1
Score: 3
Solos: 1

     2/2 +  1. Antananarivo
     2/2 +  2. Churchill
SOLO 1/2 +  3. 42
     0/2 -  4. 
     0/2 -  5. 
     0/2 -  6. 
     0/2 -  7. 
     0/2 -  8. 
     0/2 -  9. 
     0/2 - 10. 
     0/2 - 11. bongcloud
</pre>
  <hr>
  <address>
   Last update: 20 March 2021. erikt(at)xs4all.nl
  </address>
 </body>
</html>
