<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Show answers</title>
 </head>
 <body>
  <div style="display:table; border-spacing:5px;">
   {% for i in range(0, inverted_results|length) %}
   <div style="display:table-row;">
    <div style="display:table-cell; text-align:left;"><strong>{{ question_numbers[i+1] }}</strong></div>
    <div style="display:table-cell;"></div>
    <div style="display:table-cell;"></div>
   </div>
    {% for j in range(0, inverted_results[i]|length) %}
     <div style="display:table-row;">
      <div style="display:table-cell; text-align:left;">{{ inverted_results[i][j]["participant_name"] }}</div>
      {% if inverted_results[i][j]["check"] == "correct" %}
       <div style="display:table-cell; text-align:left; background-color:lightgreen;">{{ inverted_results[i][j]["answer"] }}</div>
      {% else %}
       <div style="display:table-cell; text-align:left;">{{ inverted_results[i][j]["answer"] }}</div>
      {% endif %}
      <div style="display:table-cell; text-align:left;">{{ inverted_results[i][j]["checker"] }}</div>
     </div>
    {% endfor %}
   {% endfor %}
  </div>
  <div style="float:left; margin:2px;">
   <form action="{{next_url}}" method="post">
    <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
    <input type="hidden" name="participant_id" value="{{participant_id}}" />
    <input type="submit" value="Back" style="background-color:whitesmoke; border-color:whitesmoke; border-radius:5px; padding:4px;" />
   </form>
  </div>
 </body>
</html>
