<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Start Quiz</title>
  <style>
   .button {
    background-color:whitesmoke;
    border-color:whitesmoke;
    border-radius:5px;
    padding:4px;
   }
  </style>
 </head>
 <body>
  <a href="{{home_url}}"><button class="button">Home</button></a>
  <p>Enter the details of the quiz:</p>
  <form action="{{next_url}}" method="post" style="display:inline;">
   <div style="display:table;">
    <div style="display:table-row;"><div style="display:table-cell;">Quiz name:</div><div style="display:table-cell;"><input type="text" name="quiz_name" size="20" /></div></div>
    <div style="display:table-row;"><div style="display:table-cell;">Number of questions:</div><div style="display:table-cell;"><input type="text" name="nbr_of_questions" size="5" /></div></div>
    <div style="display:table-row;"><div style="display:table-cell;">Host name</div><div style="display:table-cell;"><input type="text" name="participant_name" size="20" /></div></div>
   </div>
   <input type="submit" value="Start quiz" class="button" />
  </form>
  <p><span style="color:red;">{{error_text}}</font></p>
 </body>
</html>
