<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Wait</title>
  <!-- source: https://www.w3schools.com/howto/howto_js_copy_clipboard.asp -->
  <script>
   function copyText() {
    var source_element = document.getElementById("quiz_url");
    source_element.type = "text"
    source_element.select();
    source_element.setSelectionRange(0, 99999)
    document.execCommand("copy");
    source_element.type = "hidden"
   }
  </script>
 </head>
 <body>
  <p>
   <strong>{{quiz_name}}</strong>
  </p>
  <form action="{{this_url}}" method="post">
   Name: <input type="text" name="participant_name_new" size="20" value="{{participant_name}}" onchange="this.form.submit()"/>
   <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
   <input type="hidden" name="participant_id" value="{{participant_id}}" />
   <input type="submit" value="Change name" style="background-color:whitesmoke; border-color:whitesmoke; border-radius:5px; padding:4px;" />
  </form>
  <p>Wait for the quiz master to give the sign to start the quiz</p>
  <table role="presentation">
  <tr><th scope="column" style="text-align:left;">Name</th><th scope="column">Status</th></tr>
  {% for key in results %}
   {% set background_color = "white" %}
   {% if results[key]["participant_name"] == participant_name %}
    {% set background_color = "yellow" %}
   {% endif %}
   <tr style="background-color:{{background_color}};">
    <td> {{results[key]["participant_name"]}} </td>
    <td style="text-align:left;"> {{results[key]["status"]}} </td>
   </tr>
  {% endfor %}
  </table>
  <div>
   <div style="float:left; margin:2px;">
    <form action="{{this_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="submit" value="Update" style="background-color:whitesmoke; border-color:whitesmoke; border-radius:5px; padding:4px;" />
    </form>
   </div>
   {% if participate_url != "" %}
   <div style="float:left; margin:2px;">
    <input type="hidden" name="quiz_url" id="quiz_url" value="{{participate_url}}?quiz_id={{quiz_id}}" />
    <button onclick="copyText()" style="background-color:lightblue; border-color:lightblue; border-radius:5px; padding:4px;">Copy quiz address</button>
   </div>
   {% endif %}
   {% if open_answering_url != "" %}
   <div style="float:left; margin:2px;">
    <form action="{{open_answering_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="submit" value="Open answering" style="background-color:lightblue; border-color:lightblue; border-radius:5px; padding:4px;" />
    </form>
   </div>
   {% endif %}
   {% if open_checking_url != "" %}
   <div style="float:left; margin:2px;">
     <form action="{{open_checking_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="submit" value="Open checking" style="background-color:lightblue; border-color:lightblue; border-radius:5px; padding:4px;" />
    </form>
   </div>
   {% endif %}
   <div style="float:left; margin:2px;">
    <form action="{{next_url}}" method="post">
     <input type="hidden" name="quiz_id" value="{{quiz_id}}" />
     <input type="hidden" name="participant_id" value="{{participant_id}}" />
     <input type="hidden" name="page_nbr" value="1" />
     <input type="submit" value="Start quiz" style="background-color:lightgreen; border-color:lightgreen; border-radius:5px; padding:4px;" />
    </form>
   </div>
  </div>
 </body>
</html>
